* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 60px;
    text-align: center;
}

main img {
    width: 245px;
    height: 86px;
}

.login .text input {
    width: 270px;
    height: 38px;
    border-radius: 3px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    margin-top: 15px;
}

.login .password input {
    width: 270px;
    height: 38px;
    border-radius: 3px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    margin-top: 6px;
}

.login .submit button {
    width: 270px;
    height: 30px;
    border-radius: 4px;
    background: #0095F64D;
    margin-top: 14px;
    font-weight: 700;
    color: #FAFAFA;
    font-size: 14px;
}

.line {
    display: flex;
    margin-top: 18px;

}

.line p {
    font-size: 13px;
    font-weight: 700;
    color: #8E8E8E;
}

.line-left {
    width: 107.25px;
    height: 0px;
    border: 1px solid #DBDBDB;
    margin-right: 18px;

}

.line-right {
    width: 107.25px;
    height: 0px;
    border: 1px solid #DBDBDB;
    margin-left: 18px;

}

button {
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    color: #385185;
    border: 0px;
    background-color: #FFF;
    margin-top: 28.98px;
}

button i {
    width: 16px;
    height: 16px;
    margin-right: 0px;
    margin-bottom: 22px;
}

p .forgot-passowrd {
    font-weight: 400;
    font-size: 12px;
    color: #00376B;
}

.have-account {
    font-size: 14px;
    color: #262626;
    margin-top: 79.5px;
    display: flex;
    justify-content: center;
}

div .sigin-up {
    font-weight: 700;
    font-size: 14px;
    color: #0095F6;
    padding-left: 5px;
}

.get-the-app {
    font-weight: 400;
    font-size: 14px;
    margin-top: 68.5px;
    margin-bottom: 21px;
}

.get-apps {
    display: flex;
    justify-content: center;
}

.get-apps .gplay {
    width: 134.28px;
    height: 40px;
    margin-right: 8px;
}

.get-apps .microsoft {
    width: 110.77px;
    height: 40px;
}

footer {
    height: 180px;
    width: 390px;
    border-radius: 0px;
    margin-top: 46.02px;
    margin-left: -60px;
    justify-content: center;
}

footer .links a {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    color: #8E8E8E;
    text-decoration: none;

}


footer div.copy {
    font-size: 12px;
    color: #8E8E8E;
    margin-top: 21px;
    display: flex;
    margin-left: 60px;
    justify-content: center;
}

footer div.copy p {
    margin-right: 21.21px;
}

@media (min-width: 992px) {}